<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <title>My Page</title>
    <meta charset="utf-8" />
    <link href="StyleSheet.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="../Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="../Scripts/jquery-1.9.1.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
</head>
<body>

    <div class="container">
        <div class="page-header"></div>
        <H1>My Task List</H1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Tasks
                    <span class="pull-right glyphicon glyphicon-edit"></span>
                </div>
                <div class="panel-body" ng-controller="TasksIndexController as ctrl">
                    <div ng-repeat="task in tasks" class="checkbox">
                        <label>
                            <input type="checkbox" ng-checked="task.Completed" ng-click="ctrl.check(task)"/>
                            {{task.Name}}
                        </label>
                    </div>

                    
                    <br />
                    <div class="pull-left">
                        <input ng-model="name" />
                        <button class="btn btn-primary" ng-click="ctrl.add(name)">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--<div class="container">

        <h1>Tasks</h1>


        <div class="items" ng-controller="TasksIndexController as ctrl">

            <div ng-repeat-start="task in tasks"></div>
            <input id="{{task.id}}" type="checkbox" name="{{task.Name}}" ng-changed="checked(task)" />
            <label for="{{task.id}}"> {{task.Name}} </label>
            <div ng-repeat-end></div>

            <h2 class="done" aria-hidden="true">Done</h2>
            <h2 class="undone" aria-hidden="true">Not Done</h2>
        </div>
        <br />

        <input ng-model="name" />
        <button class="btn btn-primary" ng-click="add()">Add</button>
    </div>-->



<script src="angular.js"></script>
    <script src="App.js"></script>
    <script src="TasksService.js"></script>
    <script src="Task.js"></script>
    <script src="TasksIndexController.js"></script>
</body>

</html>
